/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.pane{
	-fx-border-width: 3px;
	-fx-border-color:  #7676da;
	-fx-background-color: #d1d1ff;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
}
.btn{
	-fx-background-color:  #b1b1e6;
	-fx-border-color: blue;
	-fx-text-fill:blue;
}
.btn:hover{
	-fx-background-color:  #6868e8;
	-fx-text-fill:#ffffff; 
}